##########################################################################
# These settings control the tag and version of the various
# docker build commands.
#
# The docker tag used will be of the form IMAGE_NAME:IMAGE_TAG
##########################################################################

# This is the gitlab repository base
CONTAINER_REPOSITORY_BASE="$CI_REGISTRY/generic-data-display"

# These are added directories to the base to separate the various potential images
OS_TYPE="ubuntu"

# The image name is formed from the above variables
IMAGE_NAME="${CONTAINER_REPOSITORY_BASE}/${OS_TYPE}"


##########################################################################
# These settings control the docker-run-dev settings.
#
# The docker-run-dev script will mount the source tree at
# LOCAL_SOURCE_PATH into the image at location IMAGE_SOURCE_MOUNT.
##########################################################################

LOCAL_SOURCE_PATH="${PWD}/.."
IMAGE_SOURCE_MOUNT="/root/gd2"
